header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 132, 255);
    margin-bottom: 10px;
    text-align: center;
    color: white;
    
}
.form{
    margin-left: 400px;
    /* color:blue; */

}
.clr{
    color: rgb(0, 0, 0);
}

